name: build

on:
  pull_request:
  push:
  schedule:
  - cron: 0 0 * * FRI

jobs:
  build:
    runs-on: ${{ matrix.platform }}
    steps:
    - uses: actions/checkout@v1
      with:
        fetch-depth: 10
    - run: cargo clippy -- -Dwarnings
    - run: cargo clippy --all-features --tests -- -Dwarnings
    - run: cargo fmt -- --check
    timeout-minutes: 5
    strategy:
      matrix:
        platform: [ubuntu-latest, windows-latest]
  build-other:
    needs: [build]
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
      with:
        fetch-depth: 10
    - run: rustup install ${{ matrix.version }}
    - run: rustup default ${{ matrix.version }}
    - run: rustup component add clippy
    - run: rustup target add ${{ matrix.target }}
    - run: cargo clippy --all-features --target ${{ matrix.target }} -- -Dwarnings
    timeout-minutes: 5
    strategy:
      matrix:
        target: [wasm32-unknown-unknown, wasm32-wasi, x86_64-unknown-redox]
        # Clippy might not be packaged with the current nightly compiler.
        version: [1.51.0, stable, beta]
  build-other-unstable:
    needs: [build]
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
      with:
        fetch-depth: 10
    - run: rustup install nightly
    - run: rustup default nightly
    - run: rustup target add ${{ matrix.target }}
    # Clippy might not be packaged with the current nightly compiler.
    - run: cargo rustc --all-features --target ${{ matrix.target }} -- -Dwarnings
    timeout-minutes: 5
    strategy:
      matrix:
        target: [x86_64-fortanix-unknown-sgx]
  test:
    needs: [build]
    runs-on: ${{ matrix.platform }}
    env:
      RUSTFLAGS: -Dwarnings
    steps:
    - uses: actions/checkout@v1
      with:
        fetch-depth: 10
    - run: rustup install ${{ matrix.version }}
    - run: rustup default ${{ matrix.version }}
    - run: cargo test
    - run: cargo test --all-features
    - run: cargo test --release
    timeout-minutes: 10
    strategy:
      matrix:
        platform: [macos-latest, ubuntu-latest, windows-latest]
        version: [1.51.0, stable, nightly]
